# Ignore Visual Studio temporary files, build results, and
# folder-based project configuration
.vscode/
.vs/

# Ignore appsettings.json file
appsettings.json

# Ignore sensitive configuration files
appsettings.Development.json

*.vcxproj.user
*.vcxproj.filters
*.vcxproj
*.sln
*.user
*.suo
*.userosscache
*.userprefs
