@page
@model ProjectPRN221.Pages.ResetPasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var errorMessage = ViewData["error"]?.ToString();
}

<style>
    body {
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #FDC800
    }

    .profile-button {
        background: #FDC800;
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #FDC800
        }

        .profile-button:focus {
            background: #FDC800;
            box-shadow: none
        }

        .profile-button:active {
            background: #FDC800;
            box-shadow: none
        }

    .back:hover {
        color: #FDC800;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }
</style>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 border-right">
            <form method="post">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3 class="text-right">Change Password</h3>
                        @if (!string.IsNullOrEmpty(errorMessage))
                        {
                            <h5 class="text-right text-danger">@errorMessage</h5>
                        }
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Old Password</label>
                            <input name="txtOldPassword" type="password" class="form-control" placeholder="Enter Old Password" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">New Password</label>
                            <input name="txtNewPassword" type="password" class="form-control" placeholder="Enter New Password" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Re-Password</label>
                            <input name="txtRePassword" type="password" class="form-control" placeholder="Enter Re-Password" />
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var errorMessage = "@errorMessage";
        if (errorMessage) {
            alert(errorMessage);
        }
    });
</script>
